.contact-map
{
    width: 100%;
    height: auto;
    flex: 50%;
    vertical-align: right;
}
.contact-map iframe
{
    width: 100%;
    height: 100%;
}
.contact-in
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: #666;
}